%footer
  .navbar.navbar-default.navbar-fixed-bottom
    .container
      %p.navbar-text.pull-left
        != "&copy; Artur Rybka #{Time.now.year}"
      = link_to contact_path, class: "navbar-btn btn-danger btn pull-right colored" do
        Get in touch!
        %i.glyphicon.glyphicon-envelope
