%footer
  .navbar.navbar-default.navbar-fixed-bottom
    .container
      %p.navbar-text.pull-left
        != "&copy; Artur Rybka #{Time.now.year}"
      %a.navbar-btn.btn-danger.btn.pull-right{:href => "/contact"}
        %span.glyphicon.glyphicon-envelope
        Get in touch
