.recipe.jumbotron
  %h1 Welcome to Recipe Land!
  %p
    This is a website for sharing all your favourite recipes!
  = link_to "See Recipes", root_path, class: "btn-danger btn colored"
#about
  .row
    .col-sm-4
      %span.glyphicon.glyphicon-user.logo
    .col-sm-8
      %h2 About Me
      %p.recipe
        I am in love with cooking and always wanted to enable others to share their passion too!
#about
  .row
    .col-sm-8
      %h2 Share it with the world!
      %p.recipe
        Whether it's your great-great-great-grandmother's recipe or you're jsut feeling creative, let others see it!
    .col-sm-4
      %span.glyphicon.glyphicon-globe.logo
#about
  .row
    .col-sm-4
      %span.glyphicon.glyphicon-heart.logo
    .col-sm-8
      %h2 Show some love!
      %p.recipe
        Add likes to your favourite recipes!
#about
  .row
    .col-sm-8
      %h2 Sounds good?
      %p.recipe
        What are you waiting for? Lets get cooking!
    .col-sm-4
      %span.glyphicon.glyphicon-cutlery.logo
