/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

 $brandCol: #f61567;

 body {
 	background: #ffe9df;
 }

  #content {
    padding-top: 70px;
    padding-bottom:70px;
  }

 .navbar {
   box-shadow: 0px 2px 1px grey;
   .navbar-brand {
   	text-transform: uppercase;
   	font-weight: bold;
   	font-size: 20px;
   	a {
   		color: $brandCol;
   	}
   }
 }

 @media (max-width: 1000px) {
   .navbar-header {
       float: none;
   }
   .navbar-left,.navbar-right {
       float: none;
   }
   .navbar-toggle {
       display: block;
   }
   .navbar-collapse.collapse {
       display: none !important;
   }
   .collapse.in{
  		display:block !important;
	}
}

 .recipe {
 	background: white;
 	border-radius: 25px;
 	margin: 2px;
  text-align: center;
  .title {
    text-transform: uppercase;
    display: table;
    margin: auto;
    border-bottom: 2px solid $brandCol;
  }
 	img {
    padding: 5px 5px 0px 5px;
    border-radius: 25px;
 		width: 100%;
    filter: grayscale(100%);
    transition: filter 0.5s;
 		&:hover {
      filter: grayscale(0%);
      transition: filter 0.5s;
 		}
 	}
  h1 {
    padding-top: 20px;
    text-transform: lowercase;
    color: $brandCol;
  }
  h2 {
    margin: 0;
 		font-size: 20px;
 		font-weight: normal;
 		a {
 			color: $brandCol;
 		}
 	}
  h2,h5{
    color: $brandCol;
    padding: 10px;
  }
  p{
    color: grey;
    padding: 15px;
  }
  ul{
    margin: 0px 0px 5px 0px;
  }
 }

  .recipe.jumbotron {
    color: $brandCol;
  }

  /* Set height of the grid so .sidenav can be 100% */
  .row.content {height: auto}

  .sidenav {
    height: 100%;
  }

  /* On small screens, set height to 'auto' for sidenav and grid */
  @media screen and (max-width: 767px) {
    .sidenav {
      height: auto;
      padding: 15px;
    }
    .row.content {height: auto;}
  }

  #side {
    border-right: 3px solid $brandCol;
    padding: 5px;
    margin-right: 5px;
    img{
      display: block;
      width: 100%;
    }
   }

  .form-delete {
   	float: right;
    margin: 0px 0px 10px 0px;
  }

  .logo {
    font-size: 200px;
    color: $brandCol;
  }

  #about {
    padding: 50px 50px;
    text-align: center;
    h2 {
      text-transform: lowercase;
      color: $brandCol;
    }
    p {
      padding: 10px;
      color: $brandCol;
      font-weight: bold;
    }
  }

  .colored {
    background-color: $brandCol;
    &:hover {
      background-color: #D8125A;
    }
  }

  .form-inputs {
    margin: auto;
    width: 65%;
    border-top: 2px solid $brandCol;
    border-bottom: 2px solid $brandCol;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .links {
    text-align: center;
  }

  #ingredients, #directions {
  	ul, ol {
  		padding-left: 7%;
      padding-right: 7%;
  		li {
        padding: 2.5%;
  			border-bottom: 1px solid gainsboro;
  		}
  	}
  }

  .liked-btn, .like-btn {
    text-align: center;
  }
