/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 $brandCol: #f61567;

 body {
 	background: #ffe9df;
 }

 .navbar {
   box-shadow: 0px 2px 1px grey;
   .navbar-brand {
   	text-transform: uppercase;
   	font-weight: bold;
   	font-size: 20px;
   	a {
   		color: $brandCol;
   	}
   }
 }

 .recipe {
 	background: white;
 	border-radius: 25px;
 	margin: 5px;
  padding: 7px;
 	img {
    border-radius: 25px;
 		width: 100%;
    filter: grayscale(100%);
    transition: filter 0.5s;
 		&:hover {
      filter: grayscale(0%);
      transition: filter 0.5s;
 		}
 	}
  h2 {
 		padding: 15px;
    margin: 0;
 		font-size: 20px;
 		font-weight: normal;
 		line-height: 1;
 		a {
 			color: $brandCol;
 		}
 	}
  h2,h5{
    color: $brandCol;
    padding: 10px;
    text-align: center;
  }
  p{
    color: grey;
    text-align: center;
  }
 }

  /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
  .row.content {height: auto}

  /* Set gray background color and 100% height */
  .sidenav {
    height: 100%;
  }

  /* On small screens, set height to 'auto' for sidenav and grid */
  @media screen and (max-width: 767px) {
    .sidenav {
      height: auto;
      padding: 15px;
    }
    .row.content {height: auto;}
  }

  #side {
    border-right: 3px solid $brandCol;
    padding: 10px 10px 10px 10px;
    img{
      display: block;
      width: 100%;
    }
   }
